* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #242424;
  font-size: larger;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  ul {
    display: flex;
    list-style: none;
    li {
      padding: 25px;
      cursor: pointer;
    }
  }
  &__right {
    &--non-mobile {
    }
    &--mobile {
      button {
        background: transparent;
        border: 0;
        color: #fff;
        padding: 25px;
        font-size: larger;
        cursor: pointer;
      }
    }
  }
}

.intro {
  height: 100vh;
  background-color: #dedede;
  display: flex;

  &__container {
    display: flex;

    &--animation {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;

  &__item {
    display: flex;
    flex-direction: column;
    margin: 16px;
    border: 1px solid black;
  }
}

.about {
  height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  height: 100vh;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  background-color: #242424;

  ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    color: #fff;

    li {
      margin: 16px;
      cursor: pointer;
    }
  }
}
